body
{
  background: #000;
}

.boton
{
  align-items: center;
  justify-content: center;
  height: 100vh;
  white-space: nowrap;
  padding: 0;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#empezar
{
  font-size: 3.5vh;
  font-weight: bold;
  font-style: normal;
  font-family: Verdana;
  background-color: #a5f;
  color: #000;
  border: none;
  border-radius: 8px;
  padding: 8px;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
}

#empezar:hover
{
  cursor: pointer;
  background-color: #a8f;
  transform: scale(1.06);
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

#canvas
{
  display: none;
}

@keyframes aparicion
{
  0%
  {
    transform: scale(0.1);
  }
  100%
  {
    transform: scale(1);
  }

}

.canvas
{
  animation: aparicion 3s ease-in-out;
}
